
.App {
 text-align: center;
 border: 3px solid white;
 background-color:darkslateblue;
 border-radius: 11px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
flex-wrap: wrap;
 width: 657px;
 height: 298px;
}

.body {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;

}



@media screen and (max-width: 576px) {
 .App {
  text-align: center;
  border: 3px solid white;
  background-color: darkslateblue;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 334px;
  height: 510px;
 }

 .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
}