
.App {
 text-align: center;
 border: 3px solid white;
 background-color:darkslateblue;
 border-radius: 11px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
flex-wrap: wrap;
 width: 335px;
 height: 298px;
}
.body {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

