.App {
 text-align: center;
 border: 3px solid white;
 background-color:darkslateblue;
 border-radius: 11px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
flex-wrap: wrap;
 width: 800px;
 height: 376px;
}

.AppLogo {
 width: 48px;
 height: 43px;
 pointer-events: none;
}

.AppHeader {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: calc(23px + 2vmin);
 color: white;
 margin-left: 10px;
}

.logoAndHeader {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

.body {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}