.value {
 background-color: darkslateblue;
  color: white;
 margin-top: 30px;
 text-align: center;
 font-size: 50px;
}

.valueTxt {
 background-color: darkslateblue;
 color: white;
 margin-top: 30px;
 text-align: center;
 font-size: 30px;
}

.error {
 background-color: darkslateblue;
 color: red;
 margin-top: 30px;
 text-align: center;
 font-size: 50px;
}

.errorTxt {
 background-color: darkslateblue;
 color: red;
 margin-top: 30px;
 text-align: center;
 font-size: 30px;
}

.inputBlock {
 display: flex;
 flex-direction: column;
 border: 3px solid white;
 border-radius: 7px;
 width: 300px;
 height: 120px;
 text-align: center;
 margin: 20px 20px 0 20px;
 align-items: center;
 justify-content: center;
}

.button {
 border-radius: 7px;
 width: 65px;
 height: 35px;
 text-align: center;
 font-size: 20px;
 margin: 15px 16px 11px;
}

.buttonBlock {
 width: 300px;
 height: 60px;
 border: 3px solid white;
 border-radius: 7px;
 margin: 20px 20px 20px 20px;
}

.counter {
 display: flex;
 flex-direction: column;
 border: 3px solid white;
 border-radius: 11px;
 width: 344px;
 height: 250px;
 margin: 0 10px 20px 10px;
 align-items: center;
 justify-content: center;
 background-color: darkslateblue;
}