
.AppLogo {
 width: 46px;
 height: 38px;
 pointer-events: none;
}

.AppHeader {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: calc(18px + 2vmin);
 color: white;
 margin-left: 10px;
}

.logoAndHeader {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

