.input {
 background-color: white;
  color: black;
 border-radius: 7px;
 width: 60px;
 height: 30px;
 font-size: 18px;
 text-align: center;
 margin-top: 5px;
}
.error {
 background-color: red;
 color: black;
 border-radius: 7px;
 width: 60px;
 height: 30px;
 font-size: 18px;
 text-align: center;
 margin-top: 5px;
}
.blockInputs {
 display: flex;
 flex-direction: column;
 border: 3px solid white;
 border-radius: 7px;
 width: 300px;
 height: 120px;
 text-align: center;
 margin: 20px 20px 0 20px;
 align-items: center;
 justify-content: center;
}

.button {
 border-radius: 7px;
 width: 65px;
 height: 35px;
 text-align: center;
 font-size: 20px;
 margin-top: 11px;
}
.buttonBlock {
 width: 300px;
 height: 60px;
 border: 3px solid white;
 border-radius: 7px;
 margin: 20px 20px 20px 20px;
}
.set {
 display: flex;
 flex-direction: column;
 border: 3px solid white;
 border-radius: 11px;
 width: 344px;
 height: 250px;
 margin: 0 20px 20px 10px;
 align-items: center;
 justify-content: center;
 background-color: darkslateblue;
}